.firefox #login_box {
  height: 300px;
  
  .close {
    right: 35px;
  }
}

#login_box {
  display: none;
  background: transparent url(/images/login_overlay.png) no-repeat top left;
  padding: 20px;
  font-size: 13px;
  height: 230px;
  width: 550px;
  
  #login_message {
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #a00;
    height: 20px;
  }
  
  #log_in, #sign_up {
    width: 250px;
    display: block;
    padding: 3px;
  }
  
  #log_in {
    float: left;
    padding-left: 30px;
  }
  
  #sign_up {
    float: right;
  }
  
  label {
    display: block;
    padding: 2px 0 0 2px;
    font-weight: bold;
    color: #aaa;
  }
  
  h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
  }
  
  p {
    padding: 2px;
  }
  
  button {
    margin: 10px;
    display: block;
  }
  
  .checkbox_label {
    float: left;
    padding-right: 6px;
  }
  
  .close {
    background: transparent url(/images/overlay_close_hover.png) no-repeat right top;
    position: absolute; right: 5px; top: 5px;
    cursor: pointer;
    height: 28px;
    width: 28px;
  }
  
  .close:hover {
    background-position: right bottom;
  }
  
  .error {
    display: block;
    color: #c00;
    padding-left: 2px;
  }
  
  #fb_login {
    margin-top: 30px;
    
  }
}


a.fb_button {
  background: #29447E url(/images/connect_sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 1px;
  text-decoration: none;
  outline: none;
  background-position: left -188px;
  font-size: 11px;
  line-height: 14px;
}

.fb_button .fb_button_text {
  background: #5F78AB url(/images/connect_sprite.png);
  border-top: solid 1px #879AC0;
  border-bottom: solid 1px #1A356E;
  color: white;
  display: block;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  padding: 2px 6px 3px 6px;
  margin: 1px 1px 0 21px;
  text-shadow: none;
}

.fb_button:hover .fb_button_text {
  text-decoration:underline;
}